/* @media screen and (max-width:500px) {
    body{
        background-color: green;
    }
} */

/* @media screen and (min-width:501px) {
    body{
        background-color: red;
    }
}

@media screen and (min-width:700px) {
    body{
        background-color: black;
    }
} */
/* @media screen and (orientation: portrait) {
    body{
        background-color: black;
    }
}
@media screen and (orientation: landscape) {
    body{
        background-color: red;
    }
} */
/* html{
    font-size: 10px;
} */
h1{
    font-size: 3rem;
}

@media screen and (max-width:500px) {
    /* body{
        background-color: red;
    } */
    .img2{
        display: none;
    }
    .img1{
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width:501px) {
    /* body{
        background-color: yellow;
    } */
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
}

@media screen and (min-width:700px) {
    /* body{
        background-color: green;
    } */
    .img1{
        display: none;
    }
    .img2{
        display: inline;
        width: 200px;
        height: 200px;
    }
}
/* @media screen and (min-width:701) {
    body{
        background-color: green;
    }
    .img1{
        display: none;
    }
    .img2{
        width: 200px;
        height: 200px;
    }
} */