

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgba(222, 226, 230, 0.662);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 50, 50);
    padding: 2rem;
    color: white;
    padding: 20px;
    /* position: fixed; */
}
.hyperlinks{
    display: flex;
    width: 500px;
    padding: 10px;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
    
}
a{
    text-decoration: none;
    color: white;

}
.logo{
    width: 50px;
    height: 50px;
    /* margin-left: 40px; */
    border-radius: 50%;
}
a:hover{
    color: red;
    cursor: pointer;
}



/* main styles */

.main{
    margin: 10px 100px;
    text-align: center;
    
}

.row{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 15px;
    
}
.card{
    /* width: 350px; */
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 350px; */
    flex: 0 0 300px;
    padding: 25px;
    text-align: center;
    box-shadow: 1px 1px 10px grey;
    border-radius: 10px;
    background-color: antiquewhite;
}

.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card p{
    color: rgb(139, 135, 131);
}

.card button{
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 5px 10px ;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}

/* footer styles */

footer{
    background-color: rgb(54, 50, 50);
    padding: 5rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-links{
    list-style: none;
}

@media screen and (max-width:700px) {
        .row{
            flex-wrap: wrap;
            /* flex: 0 0 15%; */
        }
        .card{
            flex: 0 0 35%;
        }
        nav{
            flex-direction: column;
            text-align: center;
        }
        .hyperlinks{
            flex-direction: column;
            margin-right: 0px;
            
        }
        footer{
            flex-direction: column;
        }
}